body {
	color: var(--font-color);
	font-size: 16px;
	background: linear-gradient(var(--absinthe), var(--absinthe), var(--absinthe-darker));

}

button {
	cursor: pointer;
	border: none;
	background-color: inherit;
	color: var(--font-color)
}

ul {
	list-style: none;
}