:root {
	/**************** fonts **************/
	--font-color: #fff;

	--header-font-family: 'Roboto Slab', serif;
	/* --header-font-weight:  */

	--paragraph-font-family: 'Roboto', sans-serif;

	--paragraph-font-size: 1.2rem;
	/* --heading-font-size: 5rem; */

	--paragraph-letter-spacing: 0.05rem;

	/********** background colors *********/
	--dry-london-spirit: #2E71A6;
	--absinthe: #257441;
	--agave-reserva-spirit: #1C938E;
	--amaretti: #E0BB55;
	--american-malt: #64687B;
	--apertif-dry: #805E06;
	--coffee-originale: #626166;
	--orange-sec: #C75A3B;
	--pink-london-spirit: #FF7D91;
	--spiced-cane-spirit: #8E4451;
	--white-cane-spirit: #C8B861;
	--dark-cane-spirit: #7C5653;
	--italian-orange: #A74D56;
	--italian-spritz: #9DAABB;
	--classico-premix-drinks: #A19372;
	--g-and-t-premix-drinks:#8BAABE;
	--dark-n-spicy-premix-drinks:#6F494D;
	--american-malt-and-cola-premix-drinks: #546177;
	--amalfi-spritz-premix-drinks: #D2B094;
	--classico-grande: #777C51;

	/********** background colors (darker) *********/
	--dry-london-spirit-darker: #236da9;
	--absinthe-darker: #0e4621;
	--agave-reserva-spirit-darker: #167571;
	--amaretti-darker: #8b6d19;
	--american-malt-darker: #404560;
	--apertif-dry-darker: #503a02;
	--coffee-originale-darker: #36343e;
	--orange-sec-darker: #792812;
	--pink-london-spirit-darker: #a53445;
	--spiced-cane-spirit-darker: #8E4451;
	--white-cane-spirit-darker: #c7b552;
	--dark-cane-spirit-darker: #56312f;
	--italian-orange-darker: #681f27;
	--italian-spritz-darker: #405570;
	--classico-premix-drinks-darker: #7b7054;
	--g-and-t-premix-drinks-darker:#597486;
	--dark-n-spicy-premix-drinks-darker:#603539;
	--american-malt-and-cola-premix-drinks-darker: #43526b;
	--amalfi-spritz-premix-drinks-darker: #895f3d;
	--classico-grande-darker: #64693d;


	/*CLICK ME BUTTON*/
	--clickMeButton: url(../../assets/icons/clickMe-button-spirit.svg);
	--clickMeTop: -2.8rem;
	--clickMeRight: 6.5rem;
}