:root {
	/**************** fonts **************/
	--font-color: #fff;

	--header-font-family: 'Roboto Slab', serif;
	/* --header-font-weight:  */

	--paragraph-font-family: 'Roboto', sans-serif;

	--paragraph-font-size: 1.5rem;
	/* --heading-font-size: 5rem; */

	--paragraph-letter-spacing: 0.1rem;

	/********** background colors *********/
	--dry-london: #2E71A6;
	--absinthe: #257441;
	--agave-reserva: #1C938E;
	--amaretti: #E0BB55;
	--american-malt: #64687B;
	--apertif-dry: #805E06;
	--coffee-original: #626166;
	--orange-sec: #C75A3B;
	--pink-london: #FF7D91;
	--spiced-cane: #8E4451;
	--white-cane: #C8B861;
	--dark-cane: #7C5653;
	--italian-orange: #A74D56;
	--italian-spritz: #9DAABB;

	/********** background colors (darker) *********/
	--dry-london-darker: #236da9;
	--absinthe-darker: #0e4621;
	--agave-reserva-darker: #167571;
	--amaretti-darker: #ddb443;
	--american-malt-darker: #5b6079;
	--apertif-dry-darker: #6e5005;
	--coffee-original-darker: #595764;
	--orange-sec-darker: #c94e2c;
	--pink-london-darker: #f5697e;
	--spiced-cane-darker: #8E4451;
	--white-cane-darker: #c7b552;
	--dark--darker: #7a4946;
	--italian-orange-darker: #a33b46;
	--italian-spritz-darker: #8ea3be;

}