.main_container {
	position: relative;
	width: 100%;
	height: 100dvh;
	background-color: #257441;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2rem;
	overflow: hidden;
}

.main_image {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main_image img {
	/* height: 100%; */
	width: 100%;
	object-fit: cover;
	margin-top: -4rem;
}

.main_logo {
	width: 50%;
}

.navigation_button {
	position: absolute;
	background-color: transparent;
	border: none;
	bottom: 2rem;
}